body {
    margin: 0;
      font-family: 'Arial', sans-serif;
    }

    nav {
      background-color: beige;
      color: black;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav a {
      color: black;
      text-decoration: none;
      padding: 10px;
      margin: 0 5px;
    }

    nav a:hover {
      background-color: thistle;
    }

    .logo {
      font-size: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-left: 35px;
    }

    .signup-btn,
    .signin-btn {
      background-color: tomato;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    .signup-btn:hover,
    .signin-btn:hover {
      background-color: #45a049;
    }

    .slide{
        height: 500px;
        width: 100%;
        display: inline-block;
        background-image: url(img/img4.jpg);
        background-position: bottom;
        background-size: cover;
        display: flex;
       
        
    }
    h1,p{
        color: white;
        text-align: left;
        letter-spacing: 2px;
        
    }
    .content{
        display: inline-block;
        margin-top: 90px;
        padding-left: 20px;
    }
    .content button{
        margin-top: 30px;
    }
    .image{
        position: absolute;
        left: 75%;
        margin-top: 50px;
        
    }

    .second_part{
        height: 600px;
        width: 100%;
        background-color: gray;
        display: inline-block;
    }
    .second_part h3{
        color: white;
        text-align: center;
    }
    .card-text{
        color: black;
    }
    #team{
        background-color: rgb(238, 233, 233);
        padding: 27px;
    }
    .section-header h2{
        padding: 20px;
    }
    .nivo h3{
        text-align: center;
        padding: 30px;
    }
    .w-100 {
        width: 100% !important;
        height: 75vh;
        
      }
    .text-white{
        text-align: center;
        margin-top: 10px;
        padding: 5px;
    }

    .last{
      height: 350px;
      width: 100%;
      background-color: 	#38220f;
      margin-top: 50px;
    }
    .last_section{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 70px;
      color: white;
    }
  .one{
    flex: 1;
    text-align: left;
   
  }
  .two{
   
    text-align: left;
    flex: 1;
    
  }

  .three{
    text-align: left;
   
    
    flex: 1;
  }
  .four{
    text-align: left;
    flex: 1;
 
  }
  ul{
    text-align: left;
    padding: 0;
  }




    
    